@model RegisterViewModel

@{
    ViewData["Title"] = "Sign in";
}






<div class="container">

<div class="row">
        <div class="col-md-4 mt-4">
                <h2  data-aos="fade-left" data-aos-delay="120" >Welcome to <span id="ads">Register Page</span></h2>
          <p  data-aos="fade-up" data-aos-delay="150" class="pt-4">Create an Account now ,The Idea is Developing a web Application has an authentication and authorization 
              to Access it.. </p>
        </div>
     <div class="col-md-3 mt-4 mb-4">
    </div>
    <div class="col-md-4 mt-4 mb-5" data-aos="fade-up" data-aos-delay="200" >
        <form  asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary w-100 mt-4" />
            </div>
        </form>
    </div>
  
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@